.container {
    font-family:helvetica;  
    width:50%;
    margin:auto;
    background-color: white;
  }

p{
    font-family: helvetica;
    font-size: 15 px;
    color: black;
}

h1 {
    color: firebrick;
    font-size: 40px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: helvetica;
}

h2 {
    font-family: helvetica;
    color:firebrick;
    font-size: 35px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

h3 {
    font-family: helvetica;
    color:black;
    font-size: 30px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

h4 {
    font-family: helvetica;
    color: black;
    font-size: 25px;
}

.foto1{
    width:300px;
    margin: center;
    display: block;
}

table{
    font-family: sans-serif;
    font-size: 10px;
}

.foto2{
    width: 100px;
    float: right;
    
}

.lista{
    font-family: helvetica;
    font-size: 15px;
}